<header>
    <h1>XC Clone</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/converter">Converter</a></li>
        <li><a href="/charts">Charts</a></li>
        <li>Alerts</li>
        <!-- More links can be added here -->
      </ul>
    </nav>
    <div class="sign-in">
      <a href="/signin">Sign In</a>
      <button>Register</button>
    </div>
  </header>
  