<%- include('./partials/layout', { title: 'Currency Converter', body: `
<div>
  <p class="error-message">Oops! Page not found.</p>
  <p class="error-details">
    We can't seem to find the page you're looking for, but have a cookie for
    your troubles.
  </p>
  <p>
    <img
      src="/images/cookie4495.png"
      alt="Cookie"
      height="100px"
      width="100px"
    />
  </p>
  <a href="/">Go back to Home</a>
</div>
` }) %>
