<%- include('./partials/layout', {
    title: 'Rate Chart',
    body: `
    <section class="container">
        <!-- <div id="rate-form">
          <div id="input-row">
            <div class="input">
              <label for="chart-currency">Currency</label>
              <select id="chart-currency" name="chart-currency">
                <option value="USD" selected>USD</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
                <option value="CLP">CLP</option>
                <option value="CNY">CNY</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="INR">INR</option>
                <option value="JPY">JPY</option>
                <option value="RUB">RUB</option>
                <option value="ZAR">ZAR</option>
              </select>
            </div> 
          </div>     
        </div>        -->
        <div class="rate-table" id="rate-table">
        </div>
      </section>
    `
  }) %>